.counter__button {
  background-color: #ffd48c;
  height: 35px;
  width: 60px;
  border-radius: 50px;
  font-weight: 800;
  border: none;
  background-color: black;

  &--front {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-5px);
    background-color: #ffd48c;
    border-radius: 50px;
  }

  &:hover {
    .counter__button--front {
      background-color: #f9ecbb;
      transform: translateY(-8px);
      transition: all 300ms;
      cursor: pointer;
    }
  }
  &:active {
    .counter__button--front {
      transition: all 300ms;
      transform: translateY(-1px);
    }
  }
}
