.counter {
  height: 150px;
  display: flex;
  flex-direction: column;

  &__title {
    text-align: center;
    padding-top: 15px;
    color: #fff;
    text-shadow: 1px 1px black;
  }
  &__buttons-container {
    padding: 45px 0;
    display: flex;
    justify-content: space-around;
  }

  &__result {
    position: relative;
    top: -5px;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50% 50%;
    box-shadow: 0px 4px 0 0px;
  }
}
