.ticket-counter__searchbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  .ticket-counter__searchbar--input {
    height: 40px;
    width: 250px;
    font-size: 1rem;
    border: none;
    font-family: "Poppins", sans-serif;
    padding-left: 10px;
  }

  .search__label {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    margin-bottom: 15px;
  }
}
